* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img {
    max-width: 6%;
    margin-right: 1em;
}


header {
    background-color: rgb(0,191,255);
    height: 40vh;
    display: flex;
    flex-direction: column; 
    background-image: url("https://images.unsplash.com/photo-1526683140978-77fb2955333d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 70vh;
}

header ul {
    font-family: "Emblema One", serif;
    font-size: 1.2em;
    list-style: none; 
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

header li {
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: rgb(255,255,255);
    color: rgb(0,0,255);

}

header li:hover {
    background-color: red; 
}